#ad_body{
	background-color:#FFFFFF;
	padding-bottom:20px;
	/*height:200px;*/
}
a:hover{
	text-decoration: none;
}
#ad_load{
	position:fixed;
    top:50%;
    left:48%;
    width:100%;
    font-size:30px;
}
#ad_main{
	margin-top:10px;
}
#ad_title{
	font-size:25px;
	font-weight:bold;
	color:black;
	margin-top:25px;
}
#ad_user{
	margin-top:15px;
	z-index: 100;
	width:100%;
	float:left;
}
#ad_user_pic{
	width:50px;
	border-radius:25px;
	overflow: hidden;
	float:left;
}
#ad_user_name{
	float:left;
	margin-left:15px;
}
#ad_user_name1{
	font-weight:bold;
}
#ad_article{
	margin-top:20px;
	float:left;
}
#ad_foot{
	margin-bottom:30px;
}
#ad_time{
	margin-bottom:20px;
	margin-top:10px;
	width:100%;
	float:left;
}
#ad_topic{
	margin-bottom:20px;
}
.ad_topicc{
	background-color:#28B5C2;
	padding:5px;
	border-radius:5px;
	margin-right:10px;
}
.fa-mm{
	font-size:19px !important;
}
.fa-mm:hover{
	cursor: pointer;
}
.collection{
	margin-left:4px !important;
	margin-top:2px !important;
	font-size:19px !important;
}
.ad_comment{
	padding-left:15px;
	padding-bottom:20px;
}
#ad_comment_a_font{
	color:black;
	font-weight:bold;
	margin-bottom:10px;
}
#ad_comment_content{
	width:75% !important;
	float:left;
	border:1px solid #CCCCCC;
	border-radius: 5px 5px 5px 5px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
}

@media only screen and (max-width: 1024px){
	#ad_comment_content{
		width:55% !important;
		float:left;
		border:1px solid #CCCCCC;
		border-radius: 5px 5px 5px 5px;
		padding-top:5px;
		padding-bottom:5px;
		padding-left:10px;
	}
	#small_edit{
		padding:10px;
	}
}
#ad_comment_bt{
	float:left;
	margin-left:10px;
}

.ad_comment_list{
	border-bottom:1px solid #F6F6F6;
	margin-left:0px;
	margin-bottom:10px;
}
.ad_comment_from_pic{
	height:100%;
	float:left;
}
.ad_comment_fupic{
	height:35px;
	display: block;
	width:35px;
	float:left;
	margin-right:10px;
}

.ad_comment_name{
	font-weight:bold;
	color:black !important;
}
.ad_comment_detail{
	padding-top:10px;
	padding-bottom:10px;
	margin-top:15px;
	color:black;
	width:100%;
}
.ad_comment_time{
	float:right;
}
.fa-set{
	font-size:16px !important;
	color:#989898;
	/*float:right;*/
	margin-left:20px;
	margin-right:10px;
}
.fa-set:hover{
	cursor: pointer;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
#ad_edit{
	/*float:right;*/
	margin-right:10px;
}
