#head{
	padding-left:30px;
	padding-right:30px;
}
#headSon {
	margin-right:20px;
	margin-left:20px;
}
#nav{
	padding-right:0px;
	padding-left:0px;
}
#search{
	margin-left:40px;
}
#submit{
	padding:0px;
	background-color:#F8F8F8 !important;
	color:#373833 !important;
}
#searchBtn:hover{
	color:#FFAA31;
	transition:0.3s;
	cursor: pointer; 
}
#searchBtn{
	width:45px;
	background-color:#F8F8F8 !important;
}
.fontColor{
	color:#333333 !important;
}
.fontColor:hover{
	color:#FFAA31 !important;
	transition:0.3s;
}
#nav{
	background-color:#FFFFFF !important;
	box-shadow:5px 5px 5px #EDEDED !important;
}
#body{
	margin-top:10px;
	border:1px solid red;
}
#headA{
	height:50px;
	width:50px;
	padding:0px;
}
#headImg{
	height:48px;
	width:48px;
}

#person{
	width:20px;
	margin-top:13px;
}
.personA{
	padding-right:0px !important;
	padding-left:0px !important;
	color:#6A6A6A;
}
.personLi{
	width:70px;float:left;line-height:50px;
}
.personA span{
	color:#6A6A6A !important;
	font-size:13px !important;
	margin-right:10px !important;
}
#person:hover{
	cursor:pointer;
}
/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

/*切换手机还是邮箱登录的css*/
.fade-enter-active{
  transition: all 0.5s;
  opacity: 1;
}
.fade-enter{
 opacity: 0;
 transform:translateX(50px);
}
.fade-leave {
  opacity: 1;
}
.fade-leave-active{
  transition: all 0.5s;
  opacity: 0;
  transform:translateX(50px);	
}
.fade-leave-to{
  transform:translateX(-50px);
}
#sendMessage:hover{
	cursor:pointer;
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{-webkit-appearance: none !important;}


.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-to
/* .component-fade-leave-active for below version 2.1.8 */ {
  opacity: 0;
}